@import "bootstrap";

html {
  height: 100%;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #fb9fa4;
    border-color: #fb9fa4;
}

.panel-info > .panel-heading {
    color: #fff;
    background-color: #fb9fa4;
    border-color: #fb9fa4;
}

.modal-title span.button:hover {
    color: #965f62;
}

.modal-title .pull-left span:hover {
    color: #965f62;
}

.panel-primary {
  border-color: #fb9fa4;
}

.panel-info {
    border-color: #fb9fa4;
}

.btn-primary {
    color: #fff;
    background-color: #fb9fa4;
    border-color: #fb9fa4;
}
.btn-primary:hover{
    background-color: #e18f93;
    border-color: #e18f93;
}

.btn.btn-primary:active{
    background-color: #e18f93;
    border-color: #e18f93;
}

.page-header{
  padding-left: 6vh;
}

.trello-list .delete span:hover {
  color: #965f62;
}

#details-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#details-view .name-change {
  height: 4vh;
}

.trello-list {
  min-height: 20vh;
}

.modal-fade {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.modal-box {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}

.modal-title {
  height:6vh;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #fb9fa4;
  color: #fff;
}

.modal-title span:hover {
  color: #965f62;
}


// https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow
.form-control:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

button:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
